*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #2C1D5C;
    color: #fff;
    padding: 15px;
    text-align: center;
    border-bottom: 3px solid #40c6de;
}

.container{
    background-color: #fff;
    min-height: 60vh;
    padding: 50px;
}

.produtos-container{
    max-height: 1200px;
    margin: 1%;
    display: inline-block;
    padding: 15px;
}

.produto-image{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
}

#img-1{
    background-image:url("../img/tenis1.jpg");
}

#img-2{
    background-image:url("../img/tenis2.jpg");
}

#img-3{
    background-image:url("../img/tenis3.jpg");
}

#img-4{
    background-image:url("../img/tenis4.jpg");
}

#img-5{
    background-image:url("../img/tenis5.jpg");
}

#img-6{
    background-image:url("../img/tenis6.jpg");
}